.flexRowContent--list-info {
  align-items: flex-end;
  column-gap: 4px;
  justify-content: flex-start;
  margin-top: 48px
}

.flexRowContent--list-info .stretchChildrenWidth {
  width: auto !important;
}
