.flexRowContent--list-info .stretchChildrenWidth {
  width: auto !important;
}

.flexRowContent--owner-and-date {
  column-gap: 4px;
}

.flexRow--edit-list {
  margin-left: 6px;
}
.flexRowContent--list-info-footer {
  display: flex;
  align-items: baseline;
}

@media screen and (min-width: 40em) {
  .flexRowContent--list-info :first-child {
    flex: 0 1 auto;
  }

  .flexRow--owner-and-date {
    margin-left: 16px;
  }

  .flexRow--edit-list {
    margin-left: 16px;
    height: 20px;
  }
  .flexRowContent--list-info {
    display: flex;
    align-items: center;
    margin-top: 48px;
  }
}
.flexRow--search-bar-list-item {
  border-top: 1px solid #cacbcc;
  border-bottom: 1px solid #cacbcc;
  padding: 13px 13px;
}
