.flexRowContent--list-info {
  align-items: center;
  justify-content: flex-start;
  margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flexRowContent--list-info :first-child {
  flex: 1 1 100%;
}

.flexRowContent--list-info .stretchChildrenWidth {
  width: auto !important;
}

.flexRowContent--owner-and-date {
  column-gap: 4px;
}

.flexRow--edit-list {
  margin-left: 6px;
}

@media screen and (min-width: 40em) {
  .flexRowContent--list-info {
    margin-top: 48px;
  }

  .flexRowContent--list-info :first-child {
    flex: 0 1 auto;
  }

  .flexRow--owner-and-date {
    margin-left: 16px;
  }

  .flexRow--edit-list {
    margin-left: 16px;
    height: 20px;
  }
}
.flexRow--search-bar-list-item {
  border-top: 1px solid #CACBCC;
  border-bottom: 1px solid #CACBCC;
  margin: 20px;
  padding: 13px 0;
}

.flexColChild--search-list-item{
  width: 451px;
}

@media screen and (max-width: 64em){
  .flexColChild--search-list-item{
    width: 100%;
  }
}