/*
 * A partir daqui seguem estilos para header topbar mobile
 * -------------------------------------------------------- */
.flexRow--header-topbar-mobile{
  padding-top: 12px;
  padding-bottom: 12px;
}
.flexRowContent--header-topbar-mobile{
  -webkit-box-pack: start;
  justify-content: space-between;

}
.flexRowContent--header-topbar-mobile .stretchChildrenWidth:first-child{
  width:auto !important;
  padding:0;
}
.flexRowContent--header-topbar-mobile .stretchChildrenWidth:nth-child(2+2){
  flex-grow: 2;
  justify-content: flex-start;
}
.flexRowContent--header-topbar-mobile .stretchChildrenWidth:last-child{
  justify-content: flex-end;
  width: auto !important;
}
.flexColChild--footer-payment-mobile{
  align-self: center;
}
.flexColChild--footer-safebuy-mobile{
  align-self: center;
}
.flexColChild--footer-socialnetwork-mobile{
  align-self: center;
}
/*
 * A partir daqui seguem estilos para header top
 * -------------------------------------------------------- */

.flexRowContent--header-top-bar .stretchChildrenWidth{
  justify-content: flex-start;
}
.flexRowContent--header-top-bar .stretchChildrenWidth:last-child{
  justify-content: flex-end;
}

/*
 * A partir daqui seguem estilos para header bottom
 * -------------------------------------------------------- */

.flexRow--header-bottom-bar .stretchChildrenWidth{
  justify-content: flex-start;
}
.flexRow--header-bottom-bar .stretchChildrenWidth:last-child{
  justify-content: flex-end;
  align-self: center;
}

/*
 * A partir daqui seguem estilos para container da pagina
 * -------------------------------------------------------- */

 @media(min-width: 20em){
  .flexRow--container{
    display:block;
    width: 100%;
    max-width: 1600px;
    padding: 0px 12px;
  }
}
@media (min-width: 64em){
  .flexRow--container{
    padding: 0 24px
  }
}
/*
 * A partir daqui seguem estilos para footer
 * -------------------------------------------------------- */
.flexRow--footer-navbar-link{
  background-color: #F7F9FA;
  border: 1px solid #E3E4E6;

}
.flexRow--footer-top{
  align-items: center;
}
.flexRow--images-payment .stretchChildrenWidth{
  width: auto !important;
}
.flexRow--footer-social-networks-imagens .stretchChildrenWidth{
  width: auto !important;
}
.flexRow--footer-safe-buy .stretchChildrenWidth{
  width: auto !important;
}
.flexRowContent--footer-bottom-icons{
  justify-content: space-between;
}
.flexRowContent--footer-bottom-icons .stretchChildrenWidth{
  width: auto !important;
}
.stretchChildrenWidth .imageElement--payment-img-card{ 
  border: 1px solid !important;
}
