.styledLinkContainer{
    padding-top: 8px;
    padding-bottom: 8px;
}
.logoContainer--header-bottom-bar-logo{
    padding-top: 12px;
    padding-bottom: 12px
}
.styledLinkContainer{
     margin: 0px 14px;
}
.menuContainer--top-navbar-link-action{
    justify-content: flex-end;
}
.menuContainer--bottom-navbar-link-action{
    justify-content: flex-end;
}

@media (max-width: 1025px){
    .menuContainer--bottom-navbar-link-action{
        display: flex;
        flex-direction: column;
        padding-left: 2em;
    }
    .styledLinkIcon{
        display: none;
    }
}