
@media (min-width:20em) {
  .imageElement--payment-img-card{
    margin-right: 8.5px;
    margin-left: 8.5px;
  }
  .imageElement--footer-safe-buy{
    margin-right: 8.5px;
    margin-left: 8.5px;
  }
  .imageElement--footer-social-networks{
    margin-right: 8.5px;
    margin-left: 8.5px;
  }
}
@media (min-width:64em) {
  .imageElement--payment-img-card:first-child{
    margin-left: 0px;
  }
  .imageElement--footer-social-networks:first-child{
    margin-left: 0px;
  }
}