.wrapper--footer-bottom-text{
    color: #979899;
    font-size: 12px;
}
.container--title-social-networks-desktop{
    justify-content: flex-start !important;
}
.container--title-payment  {
    justify-content: flex-start !important;
}
.container--title-safe-buy {
    justify-content: flex-start !important;
}
.container--title-social-networks-desktop{
    justify-content: flex-end;
}
@media (min-width: 20em) {
    .paragraph--footer-bottom-text{
        margin-top: 24px;
        margin-bottom: 20px;
    }
    .paragraph--title-social-networks{
        margin-top: 24px;
        margin-bottom: 24px;
        color: #585959;
    }
    .paragraph--title-payment{
        margin-top: 24px;
        margin-bottom: 24x !important;
        color: #585959;
    } 
    .paragraph--title-safe-buy{
        margin-top: 24px;
        margin-bottom: 24px;
        color: #585959;
    } 
}
@media (min-width: 40em) {
    .paragraph--title-social-networks{
        margin-bottom: 24px;
    }
    .paragraph--title-payment{
        margin-bottom: 24px;
    } 
    .paragraph--title-safe-buy{
        margin-bottom: 24px;
    }
    
}
@media (min-width: 64em) {
    .paragraph--footer-bottom-text{
        margin-bottom: 24px;
        margin-top: 32px;
    }
    .paragraph--title-social-networks{
        margin-bottom: 12px;
    }
    .paragraph--title-payment{
        margin-bottom: 12px;
    } 
    .paragraph--title-safe-buy{
        margin-bottom: 12px;
    }
}