/* block: find a list - Home */
.flexRowContent--search-list {
  display: flex;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  justify-content: center;
  padding: 50px;
  background-color: #f7f9fa;
}
.flexColChild--search-list-col {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  max-width: 500px;
}

.flexRowContent---user-list {
  display: flex;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  padding: 50px;
  justify-content: center;
}