.closeButton--product-details {
  margin-top: 8px;
  width: 100%;
  background-color: white;
  border: 1px solid #ffffff;
  color: #0c389f;
  border-radius: 4px;
  text-transform: uppercase;
}
.paper--product-details {
  background-color: #f7f9fa !important;
}
