.paragraph--home-top-desktop {
    margin-bottom: 0px;
    margin-top: 32px;
    font-size: 28px;
}

.wrapper--home-bottom-desktop-button {
    width: 100%;
}

.paragraph--home-bottom-desktop-button {
    display: flex;
    justify-content: center;
    padding: 9px 8px;
    border-radius: 4px;
    background-color: #134CD8;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 0px;
    width: 100%;
}

.image--home-bottom-desktop-button {
    margin-right: 7px;
}

.paragraph--modal-header-title {
    font-weight: 700 !important;
}

@media (min-width: 40em) {
    .paragraph--home-top-desktop {
        margin-top: 112px;
        font-size: 36px;
    }
    .paragraph--home-bottom-desktop-button {
        justify-content: space-evenly;
        width: 173px;
        margin-top: 32px;
    }
}