.flexRow--advantages-container.flexRow--muted {
  background-color: #fff;
}

.flexRow--advantages-container {
  padding-bottom: 24px;
  padding-top: 50px;
}

.flexRowContent--advantages-container {
  max-width: 1024px;
  margin: 0 auto;
  justify-content: center;
}

@media (min-width: 40em) {
  .flexRow--advantages-cards {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
