.infoCardTextContainer--card{
  height: 100%;
}

.infoCardContainer--card{
  background-color: #ffffff;
  background-size: 40px !important;
  background-position: center 20px;
  border-radius: 12px;
  padding: 70px 8px 16px;
  margin: 0 20px;
}

.infoCardHeadline--card{
  color: #3F3F40;
  font-size: 1.25rem;
  line-height: 2.25rem;
  font-weight: 400;
  margin-top: 0;
}

.infoCardSubhead--card{
  color: #585959;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 24px;
}


@media (min-width: 40rem){
  .infoCardTextContainer--card{
    width: 100%;
    margin: 0 8px;
  }

  .infoCardTextContainer--card{
    height: 132px;
  }
}

@media (min-width: 20rem){
  .infoCardTextContainer--card{
    height: 180px;
  }
}
