.headerRowBackground--header-topbar {
  background-color: #f2f4f5;
}

.headerRow--border-bottom {
  0box-shadow: 0px 4px 8px rgba(7, 52, 85, 0.25);
}

.headerRowContentContainer--header-topbar {
  padding: 0px;
}

.headerRowBackground :global(.vtex-store-components-3-x-container) {
  padding: 0;
  max-width: 100%;
}
.listOrderSearch {
  border-top: 1px solid #cacbcc;
}
