.headerRowBackground--header-topbar {
  background-color: #f2f4f5;
}

.headerRowBackground--border-bottom {
  border-bottom: 1px solid #cacbcc;
}

.headerRowContentContainer--header-topbar {
  padding: 0px;
}
