:global(.vtex-product-summary-2-x-container--showcase)
  :global(.vtex-product-summary-2-x-clearLink--showcase)
  :global(.vtex-product-summary-2-x-element--showcase)
  button[class*='vtex-button bw1 ba fw5 v-mid relative pa0 lh-solid br2 min-h-regular t-action bg-disabled b--muted-5 c-on-disabled w-100 '] {
  cursor: default;
  pointer-events: none;
}
:global(.vtex-product-summary-2-x-containerNormal--showCaseProduct)
  :global(.vtex-product-summary-2-x-clearLink--showCaseProduct)
  :global(.vtex-product-summary-2-x-element--showCaseProduct)
  :global(.vtex-flex-layout-0-x-flexRowContent--productInfo)
  button[class*='vtex-button bw1 ba fw5 v-mid relative pa0 lh-solid br2 min-h-regular t-action bg-disabled b--muted-5 c-on-disabled w-100'] {
  cursor: default;
  pointer-events: none;
}

/* remove clickURL product */
:global(.vtex-product-summary-2-x-container){
  cursor: default;
  pointer-events: none;
}