.emptyList--list-items{
    margin-top: 48px;
    justify-content: center;
}
.emptyList--list-items-mobile{
    margin-top:28px;
    margin-bottom:28px;
    justify-content: center;
}
.galleryItem--list-items{
    padding: 2rem;
}
.gallery--list-items-mobile{
    flex-direction: column !important;
}
.galleryItem--list-items-mobile{
    width: 100% !important;
}
.summaryContainer
  .quantitySelectorStepper
  :global(.vtex-numeric-stepper-container)
  :global(.vtex-numeric-stepper__input) {
  pointer-events: all;
  cursor: pointer;
}
.summaryContainer
  .quantitySelectorStepper
  :global(.vtex-numeric-stepper-container)
  :global(.vtex-numeric-stepper__plus-button-container),
  .summaryContainer
  .quantitySelectorStepper
  :global(.vtex-numeric-stepper-container)
  :global(.vtex-numeric-stepper__minus-button-container) {
  pointer-events: all;
  cursor: pointer;
}

@media screen and (min-width: 40em){
    .gallery--list-items-mobile{
        flex-direction: row !important;
    }
    .galleryItem--list-items-mobile{
        width: 50% !important;
    }
}
.fisrtTextError {
    color: #2E2E2E;
    font-size: 36px;
    font-weight: 700;
    font-family: Fabriga;
    width: 100%;
    display: inline-flex;
    align-content: center;
}
.secondTextError {
    color: #585959;
    font-size: 16px;
    width: 100%;
    max-width: 260px;
    display: inline-flex;
    align-content: center;
}
.buttonErrorHome {
    background-color: #134CD8;
    width: 100%;
    max-width: 258px;
    height: 42px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
