.element--OwnerList
  :global(.vtex-list-0-x-addToListButtonContainer)
  :global(.vtex-button) {
  pointer-events: all;
  cursor: pointer;
}
.containerNormal--OwnerList,
.containerNormal--showCaseProduct {
  pointer-events: none !important;
    cursor: default;
}
