.emptyList--list-items{
    margin-top: 48px;
    justify-content: center;
}
.emptyList--list-items-mobile{
    margin-top:28px;
    margin-bottom:28px;
    justify-content: center;
}
.galleryItem--list-items{
    padding: 2rem;
}
.gallery--list-items-mobile{
    flex-direction: column !important;
}
.galleryItem--list-items-mobile{
    width: 100% !important;
}
.summaryContainer
  .quantitySelectorStepper
  :global(.vtex-numeric-stepper-container)
  :global(.vtex-numeric-stepper__input) {
  pointer-events: all;
  cursor: pointer;
}
.summaryContainer
  .quantitySelectorStepper
  :global(.vtex-numeric-stepper-container)
  :global(.vtex-numeric-stepper__plus-button-container),
  .summaryContainer
  .quantitySelectorStepper
  :global(.vtex-numeric-stepper-container)
  :global(.vtex-numeric-stepper__minus-button-container) {
  pointer-events: all;
  cursor: pointer;
}

@media screen and (min-width: 40em){
    .gallery--list-items-mobile{
        flex-direction: row !important;
    }
    .galleryItem--list-items-mobile{
        width: 50% !important;
    }
}