.flexColChild--priceAndQuantity,
.flexCol--priceAndQuantity {
  height: unset !important;
}

.flexCol--priceAndQuantity {
  flex-direction: column;
}

@media (min-width: 64em) {
  .flexCol--priceAndQuantity {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
