.flexColChild--priceAndQuantity,
.flexCol--priceAndQuantity {
  height: unset !important;
}

.flexCol--priceAndQuantity {
  flex-direction: column;
}
.flexRowContent--productInfo{
  flex-direction: column;
}
.flexRowContent--productInfo .stretchChildrenWidth{
  width: 100% !important;
}
.flexColChild--filterDesktop{
  padding-left: 16px;
  padding-right: 20px;
}
@media (min-width: 64em) {
  .flexRowContent--productInfo{
    flex-direction: row;
  }
  .flexCol--priceAndQuantity {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.flexRowContent--headerProduct{
  display: flex;
}
.flexRowContent--headerProduct .stretchChildrenWidth{
  width: auto !important;
  align-items: center;
  justify-content:flex-start;
  margin-right: 12px;
}
