.filter__container--selectedFiltersNav--title {
    display: none;
}
.filterTemplateOverflow--selectedFiltersNav{
    flex-flow: row wrap;
    border: 1px solid #F2F4F5;
    background-color: #F2F4F5;
    padding: 0px;
    border-radius: 4px;
}
.filterTitle--selectedFiltersNav{
    display: none;
}
.filtersWrapper--selectedFiltersNav{
    border-bottom: 1px solid #CACBCC;
    padding-bottom: 8px;
}
.filtersWrapper--selectedFiltersNav .selectedFilterItem {
    cursor: pointer;
}
.filtersWrapper--selectedFiltersNav .filter__container--priceRange{
    display: none;
}
.filtersWrapper--selectedFiltersNav .filter__container--polegadas{
    display: none;
}
.filtersWrapper--selectedFiltersNav .filter__container--category-1{
    display: none;
}
.filtersWrapper--selectedFiltersNav .filter__container--cor-teste{
    display: none;
}
.filtersWrapper--selectedFiltersNav .filter__container--category-2{
    display: none;
}
.filtersWrapper--selectedFiltersNav .filter__container--category-3{
    display: none;
}
.filtersWrapper--selectedFiltersNav .filter__container--tamanho{
    display: none;
}
.filtersWrapper--selectedFiltersNav .filter__container--brand{
    display: none;
}
.filtersWrapper--selectedFiltersNav .filterSelected--selectedFiltersNav{
    display: none;
}
.filtersWrapper--selectedFiltersNav .filter__container--selectedFilters{
    border: none;
}
.filtersWrapper--selectedFiltersNav .filter__container--selectedFilters .filterTemplateOverflow--selectedFiltersNav{
    display: flex;
}
.selectedFilterItem--selectedFiltersNav{
    width: auto;
    height: 30px;
    background-color: white;
    margin: 4px 4px;
    padding: 4px 0px 4px 8px;
    display:flex;
    align-items: stretch;
    border-radius: 4px;
}
.selectedFilterItem--selectedFiltersNav :first-child{
    display: flex;
    flex-direction: row-reverse;
    background: none;
    align-items: center;
}
.selectedFilterItem--selectedFiltersNav  :global(.vtex-checkbox__inner-container){
    background: url('assets/close.svg') no-repeat right center;
    border: none;
}
.filtersWrapper--filterProducts .filter__container--selectedFilters{
    display: none;
}
.filtersWrapper--selectedFiltersNav .filter__container--cor{
    display: none;
}
.filterItem--selectedFiltersNav--selected :global(.vtex-checkbox__inner-container){
    background-color: none;
    padding:0px;
    margin:0px;
}
.filterItem--selectedFiltersNav--selected :global(.vtex__icon-check){
    display: none;
}
.filterItem--selectedFiltersNav--selected :global(.vtex-checkbox__label){
    color: #585959;
}
@media screen and (min-width:64em) {
    .filtersWrapper--selectedFiltersNav{
        border-bottom: none;
        padding-bottom: 8px;
    }
}