.container--showcase {
  margin: 0;
  max-width: 316px !important;
  height: unset;
  border-radius: unset;
}

.containerNormal--productinfo {
  max-width: 100% !important;
}

.element--showcase {
  padding-bottom: 0;
}

.flexRowContent--price-and-quantity {
  align-items: flex-end;
}

.quantitySelectorContainer--quantity {
  margin-bottom: 0;
}

.productNameContainer {
  text-align: left;
  width: 100%;
}

.brandName {
  color: #2e2e2e;
  font-size: 14px;
  line-height: 20px;
}

.productPriceClass {
  gap: 5px;
}

.priceContainer {
  align-items: flex-start;
  padding: 0;
  height: auto;
  justify-content: center;
}

.sellingPriceContainer {
  padding: 0;
}

.sellingPriceValue {
  color: #003087;
  font-size: 32px;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0;
  padding-right: 0;
}

.installmentContainer {
  color: #4a596b;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  text-align: center;
}

.installmentContainer::before {
  content: 'ou ';
}

.price_installment {
  font-weight: 500;
}

.listPriceLabel,
.sellingPriceLabel {
  display: none;
}

.quantityStepperContainer {
  justify-content: flex-end;
}

.quantitySelectorStepper--quantity {
  display: none;
}

.imageWrapper {
  border-bottom: none;
}

.imageContainer {
  height: 120px;
  overflow: hidden;
  width: 180px !important;
}

.nameContainer--title {
  padding: 0;
  display: inline-flex;
  text-align: left;
  margin: 5px 0px;
  height: 40px;
  overflow: hidden;
}
.containerNormal--showCaseProduct {
  max-width: 100% !important;
  margin: 0px !important;
  align-items: center;
}
.image--desktopImageMobile {
  height: 100%;
}

@media screen and (max-width: 65em) {
  .nameContainer--title {
    height: auto;
  }
  .nameContainer--title .nameWrapper--title {
    max-width: 135px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }
}

@media screen and (min-width: 20em) {
  .container--showcase {
    margin: 0 auto;
  }
}

@media screen and (min-width: 65em) {
  .container--showcase {
    flex-direction: column;
  }
  .priceContainer {
    height: 64px;
  }

  .nameContainer--title {
    margin: 12px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .skuNameContainer--title-sku {
    margin: 12px 0;
    height: 50px;
  }
  .nameContainer--title .nameWrapper--title {
    width: 100%;
  }
  .image--desktopImage {
    max-height: 220px;
    width: auto;
  }
  .imageContainer--desktopImage {
    display: flex;
    align-items: center;
  }
  .imageContainer {
    width: 100% !important;
    height: 232px;
  }
  .installmentContainer {
    width: 100%;
    display: inline;
    white-space: normal;
    margin: 0 auto;
  }
}
.clearLink--showcase :global(.vtex-button),
.clearLink--showCaseProduct :global(.vtex-button) {
  pointer-events: all;
}
